<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EPAM_Task7.Properties.Settings.Task7_DBConnectionString"
            connectionString="Data Source=USER-PC\ACCELERATOR;Initial Catalog=Task7_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>